/.idea

/applications/admin/sessions
/applications/examples
/applications/welcome

/logs/*

parameters_*

/applications/gestiune/cache/*
!/applications/gestiune/cache/.gitkeep

/applications/gestiune/databases/*
!/applications/gestiune/databases/.gitkeep
/applications/gestiune/errors/*
!/applications/gestiune/errors/.gitkeep

*.pyc