{{if not(zi):}}
    {{=DIV('Nu exista Rapoarte', _class='warning')}}
{{else:}}
    <table>
    {{=THEAD(TR(
            TH(),
            TH('Username'),
            TH('Total'),
            TH('Puncte Folosite'),
            TH('Puncte Primite'),
            TH('Discount Total'),
        ))}}
        <tody>
            {{
                total =0 
                PF = 0 
                PA = 0 
                DT = 0
            }}
            {{ for i,tip in enumerate(zi):}}
                {{
                    total += tip['Total'] 
                    PF  += tip['PuncteFolosite']
                    PA += tip['PuncteAcordate']
                    DT += tip['Discount']
                }}
                {{=TR(
                    TD(i+1),
                    TD(tip['username']),
                    TD('{0:.2f}'.format(tip['Total']), _class='number'),
                    TD(tip['PuncteFolosite'], _class='number'),
                    TD(tip['PuncteAcordate'], _class='number'),
                    TD('{0:.2f}'.format(tip['Discount']), _class='number'),
                )}}
            {{pass}}
            {{=TR(
                TH(),
                TH(),
                TH('{0:.2f}'.format(total), _class='number'),
                TH(PF, _class='number'),
                TH(PA, _class='number'),
                TH('{0:.2f}'.format(DT), _class='number'),
                _class="total"
            )}}
        </tbody>
    </table>
{{pass}}
